<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FacultyHub</title>
  <link rel="stylesheet" href="../css/sign_up.css">

</head>

<body>
  {{>header}}

  <main>
    <h2>Sign up</h2>
    <section id="sign_up">
      <form action="/signup/verifyotp" method="post" enctype="multipart/form-data">
        <label for="adminName">Full Name</label>
        <input class="ip" type="text" id="adminName" name="adminName" required>
        <label for="email">Email</label>
        <input class="ip" type="email" id="email" name="email" required>
        <label for="Password">Password</label>
        <input class="ip" type="password" id="Password" name="Password" required>
        <label for="cPassword">Conform Password</label>
        <input class="ip" type="password" id="cPassword" name="cPassword" required>
        <label for="mobile_no">Mobile no</label>
        <input class="ip" type="tel" id="mobile_no" name="mobile_no" pattern="[0-9]{10}" required>
        <label for="university">University</label>
        <input class="ip" type="text" id="university" name="university" required>
        <label for="admin-pic">Admin Photo</label>
        <input id="admin-img" type="file" name="image" accept="image/*" required>
        <div class="bt">
          <button type="submit" value="Submit">Submit</button>
          <button type="reset" value="reset">Reset</button><br>
        </div>
        <p class="p">
          Already have an account? <a href="signin">sign in.</a>
        </p>
      </form>
      <img src="images/sign_up.png" alt="sign_up">
    </section>
  </main>

  {{>footer}}
</body>

</html>