header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
  height: 8vh;
  padding-left: 7vw;
  padding-right: 5vw;
  border: 2px solid rgb(0, 0, 0);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
header a{
  color: white;
  font-size: 20px;
  margin: 10px;
}