/*header Content*/

header{
    display: flex;
    justify-content: space-between;
    background-color: #0C2340;
    color: white;
    align-items: center;
    height: 8vh;
    padding-left: 7vw;
    padding-right: 5vw;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

header a{
    color: white;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}
header button{
    margin: 10px;
}

/*Main Content*/

#form12{
    background-color:#0C2340;
}
.carousel-inner{
    height: 400px;
}
.third-div{
    width: 200px; 
    height: 200px;
}
/*Footer Content*/

footer{
    display: flex;
    margin-top: 1vw;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
}
.left a{
        display: block;
        margin-left: 5%;
        padding: 1vh 4vw 2vh 2vw;
        text-decoration: none;
        text-decoration: underline;
        color: #ffffff; /* Link color */
        font-size: 20px;
      }
.right {
    position:static;
    text-align: left;
    width: 28vw;
    font-size: 20px;
}

.right h2{
    position: static;
    text-align: left;
}

.footer_title{
    margin-left: 5%;
}
