 *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

/* header part*/
.navbar{
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 3px 4px rgb(87, 105, 107);
}

.navbar-toggler {
    color: white;
}
#navbarSupportedContent a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
    padding: 0.4vw 0.6vw;
    border: 2px solid transparent;
    border-radius: 2vw;
  transition-duration: 1s;
  box-shadow: 0 0px 2px rgb(0, 0, 0);
}
#navbarSupportedContent a:hover{
    color: #000000;
    background-color: rgb(252, 251, 251);
    border: 2px solid rgb(248, 230, 230);
    box-shadow: 0 2px 4px rgb(255, 255, 255);

}
#navbarSupportedContent a:active{
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

/*Main Part*/
#main{
    display: flex;
    margin-bottom: 100px;
}
#img1{
    float: right;
    border: 2px solid black;
    border-radius: 40px;
    top:20px;
    cursor: pointer;
    box-shadow: 8px 8px 4px rgb(87, 105, 107);
}
h1{
    text-align: center;
    padding-top: 10px;
}

.container{
    width: 100%;
    background-color: rgb(255, 255, 255);  

}
.tab_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
  
    
}
.tab_box .tab_btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 2.5vh;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid white;
    color: #0D1B2A;
    background: none;
    border:#bab3b3 1.5px solid;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    
}

.tab_box .tab_btn.active{
    color: white;
    background-color: #0D1B2A;
    border-radius: 1vh;
    
    
}

.tab_box .tab_btn:hover{
    color: white;
    background-color: #0D1B2A;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.6); 
    border-radius: 1vh;


}

.content_box .content{
    display: none;
    animation:  moving .5s ease;

}
@keyframes moving {
    from{transform: translateX(50px);opacity:0;}
    to{transform: translateX(0px);opacity: 1;}
    
}
.content_box .content.active{
    display:block;
}
.content {
    font-family: sans-serif;
    font-size: 2vh;
}

@media (max-width: 600px)
{.tab_box
  {
  display: flex ;
  flex-direction: column;
}
}

.content_box .content{
    width: 100%;
}

.butn{
  text-align: center;
  margin-top: 2px;
}
.butn button{
  margin: 0 auto;
}

/* footer part*/


footer{
    display: flex;
    margin-top: 1vw;
    justify-content: space-around;
    align-items: center;
    background-color: #588414;
    color: white;
}
.left a{
        display: block;
        margin-left: 5%;
        padding: 1vh 4vw 2vh 2vw;
        text-decoration: none;
        text-decoration: underline;
        color: #ffffff; /* Link color */
        font-size: 20px;
      }
.right {
    position:static;
    text-align: left;
    width: 28vw;
    font-size: 20px;
}

.right h2{
    position: static;
    text-align: left;
}

.footer_title{
    margin-left: 5%;
}

@media (max-width: 800px) {
/*    contains only footer*/
  footer{
    flex-direction: column;
  }
  .left {
    width: 100%;
    margin: 0px;
    padding: 2vw;
  }
  .footer_title{
    margin-left: 0px;
  }
  .left a {
    margin-left: 0px;
    padding: 0px;
  }
  .right {
    width: 100%;
    padding: 2vw;
  }
  
}
@media (max-width: 992px){
/*    main-part*/
#main{
    flex-direction:column;
}
#main1{
    width: 50%;
}
#img1{
    float: right;
    border: 2px solid black;
    border-radius: 40px;
    top:20px;
    cursor: pointer;
    box-shadow: 8px 8px 4px rgb(87, 105, 107);
}
#main2{
    width: 100%;
}
}
